* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
 width: 100%;
 height: 100%;
 position: relative;
}
.primary-section {
  width: 36.1%;
  height: 100%;
  background-color: #1aebb6;
  /* position: relative; */
}
.white-section {
  width: 63.9%;
  height: 100%;
  /* position: relative; */
}
.login-container {
  width: 70%;
  height: 80%;
  box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  position: absolute;
}

.login-container .design {
  background-color: #1aebb6;
  width:30%;
  height: 100%;
}

.login-container .userInput {
  background-color: white;
  width: 70%;
}

.userInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.userInput #authForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.loginButton {
  color: black;

  height: 70px;
  width: 50%;
  margin-top: 30px;
  padding: 10px 12px;
  font-size: 25px;
  font-weight: 600;

  border: none;
  background-color: #1aebb6;
  border-radius: 8px;
}

.design {
  display: flex;
  justify-content: center;
  align-items: center;
}

.design img {
  height: 150px;
  width: 100px;
  width: auto;
}

.userInput h1 {
  font-size: 30px;
}

.userInput .title {
  font-size: 20px;
  font-weight: 700;
  text-align: left;
}

.userInput div {
  width: 50%;
  margin-top: 20px;
}

.userInput input {
  height: 70px;
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  padding-left: 20px;
  border: 1px solid;
  border-color: rgb(226, 226, 226);
  border-radius: 12px;
  font-size: 23px;
}
.userInput .error{
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
  color: red;
}
.userInput input::placeholder {
  color: #aaaaaa;
}
.userInput .confirm-password,
.userInput .password {
  position: relative;
}
.userInput .password input,
.userInput .confirm-password input{
  position: relative;
  padding-right: 50px;
}
.userInput .forgot-password {
  display: none;
  text-align: end;
}

.userInput .authNav {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
}

.userInput .authNav span {
  font-weight: 700;
  color: #02d4a0;
  cursor: pointer;
}

.userInput .password .visibility,
.userInput .confirm-password .visibility {
  position: absolute;
  top: 55%;
  right: 0;
  padding-right: 20px;
  cursor: pointer;
}
#snackbar {
  visibility: hidden; 
  font-size: 25px;
  min-width: fit-content; 
  height: 60px;

  background-color: #333; 
  color: #fff; 
  text-align: center; 
  border-radius: 12px; 
  padding: 16px; /* Padding */
  position: fixed;
  top: 30px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

#snackbar.show {
  visibility: visible; 
 
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

